menu "AXRGB Configuration"

  config USE_BOTH_CORES
    bool "Use both cores for all tasks"
    default false
    help
      Use both cores for all tasks or bind LEDs to core1 and all other tasks to core0.
      Depending on the number of LEDs and the loop delay, some flickering may be apparent when using both cores for all tasks.

  config USE_TASK_WDT
    bool "Use watchdog timer"
    default true
    help
      Use watchdog timer to monitor tasks

  choice LOG_LEVEL
    prompt "Application log level"
    default APP_LOG_WARN
    help
      No help

    config APP_LOG_NONE
      bool "None"

    config APP_LOG_ERROR
      bool "Error"

    config APP_LOG_WARN
      bool "Warn"

    config APP_LOG_INFO
      bool "Info"

    config APP_LOG_DEBUG
      bool "Debug"

    config APP_LOG_VERBOSE
      bool "Verbose"
  endchoice
  config APP_LOG_LEVEL
    int
    default 0 if APP_LOG_NONE
    default 1 if APP_LOG_ERROR
    default 2 if APP_LOG_WARN
    default 3 if APP_LOG_INFO
    default 4 if APP_LOG_DEBUG
    default 5 if APP_LOG_VERBOSE

  config LOG_MAX_LINES
    int "Maximum number of log entries to store in the buffer"
    default 100
    help
      This is the maximum number of log lines that can be stored in RAM for retreival via the web interface or other means.

  config LIGHT_PIN
    int "Security Light Output Pin"
    default 23
    help
      The output pin for turning on/off an external security light

  choice TARGET_DEVICE
    prompt "Idiosyncratic Target"
    default AXRGB_DEV_DEBUG
    help
      No help

    config AXRGB_DEV_CARAVAN
      bool "Caravan"

    config AXRGB_DEV_DEBUG
      bool "Debug"

    config AXRGB_DEV_SEGGER
      bool "SEGGER"

    config AXRGB_DEV_OLIMEX
      bool "OLIMEX"

    config AXRGB_DEV_TTGO
      bool "TTGO Audio"

    config AXRGB_DEV_WORKSHOP
      bool "Workshop"

    config AXRGB_DEV_ROCKET
      bool "Rocket Launch"
  endchoice
    config TARGET_DEVICE_STR
      string
      default "Caravan"    if AXRGB_DEV_CARAVAN
      default "Debug"      if AXRGB_DEV_DEBUG
      default "Segger"     if AXRGB_DEV_SEGGER
      default "Olimex"     if AXRGB_DEV_OLIMEX
      default "TTGO_Audio" if AXRGB_DEV_TTGO
      default "Workshop"   if AXRGB_DEV_WORKSHOP
      default "WSA"        if AXRGB_DEV_ROCKET
    config RGB_ORDER
      bool
      default n            if AXRGB_DEV_OLIMEX
      default n            if AXRGB_DEV_TTGO
      default y
    config USING_JTAG
      bool
      default y             if AXRGB_DEV_OLIMEX
      default y             if AXRGB_DEV_SEGGER
      default n
    config DEBUG
      bool
      default y             if AXRGB_DEV_DEBUG
      default y             if AXRGB_DEV_OLIMEX
      default y             if AXRGB_DEV_SEGGER
      default n
    config CCTV
      bool
      default y             if AXRGB_DEV_DEBUG
      default n

    if USING_JTAG
      config APPTRACE_DEST_JTAG
    endif

  menu "Wireless STA Configuration"
    config DEFAULT_STA_SSID
      string "SSID"
      default ""
      help
        SSID of the wireless AP we should connect to

    config DEFAULT_STA_PASS
      string "Password"
      default ""
      help
        Password of the wireless AP we should connect to

  endmenu

  menu "WS2812 Configuration"

    config WS2812_PIN
      int "WS2812 Output Pin"
      default 22
      help
        Select output data pin for WS2812 lights

  config USE_RMT_INTERRUPT
    bool "Update LEDs using RMT interrupt"
    default false
    help
      Update the LEDs with an alternative method using interrupts.

  config LED_LOOP_US
    int "The minium duration of one display cycle"
    default 14400
    help
      This is the minimum display cycle in milliseconds.
      Use this to sync multiple devices together. Keep in mind, updating one RGB LED
      takes around 30us. Updating 400 takes around 12ms, depending on other running
      tasks and which RMT method you are using.

    config PIXELS
      int "Pixel Count"
      default 380
      help
        Number of pixels in WS2812 string

    config SHOW_STARS
      bool "Enable Flashes"
      default true
      help
        Enable overlaid sparkles (flashes) to enhance the patterns

    choice DEFAULT_DIM
      prompt "Default Brightness"
      default AXRGB_DIM_MED
      help
        Default WS2812 brightness level

      config AXRGB_DIM_MIN
        bool "Minimum"
      config AXRGB_DIM_LOW
        bool "Low"
      config AXRGB_DIM_MED
        bool "Medium"
      config AXRGB_DIM_HIGH
        bool "High"
      config AXRGB_DIM_MAX
        bool "Max"
    endchoice

    config DEFAULT_DIM
      int
      default 0 if AXRGB_DIM_MAX
      default 1 if AXRGB_DIM_HIGH
      default 2 if AXRGB_DIM_MED
      default 3 if AXRGB_DIM_LOW
      default 4 if AXRGB_DIM_MIN

  endmenu

  menu "Motion Detection"
    config MOTION_DETECTION
      bool "Enable Motion Detection"
      default "n"
      help
        Enable gpio inputs triggers for motion detection devices

      config MOTION_INPUT_1
        depends on MOTION_DETECTION
        int "GPIO Input 1"
        default 35

      config MOTION_INPUT_2
        depends on MOTION_DETECTION
        int "GPIO Input 2"
        default 33

      config MOTION_INPUT_3
        depends on MOTION_DETECTION
        int "GPIO Input 3"
        default 25

      config MOTION_INPUT_4
        depends on MOTION_DETECTION
        int "GPIO Input 4"
        default 26

  endmenu

  menu "Web Server Configuration"

  config LED_GPIO
    int "Led GPIO number"
      range 0 34
      default 2
      help
        GPIO number (IOxx) to blink on and off.
        Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.
        GPIOs 35-39 are input-only so cannot be used as outputs.

  config HTTPD_USE_ASYNC
    bool "HTTPD uses async sockets"
      default true
      help
        The builtin HTTP server uses async sockets rather than a more standard approach.

  endmenu

endmenu
