:root {
  --focus-color: #a0a0a0;
  --sel-color: #904040;
}
body {
  paddding: 0;
  border: 0;
  margin: 0;
  background-color: #8080A0;
  display:flex;
  vertical-align: top;
  align-items: flex-end;
  justify-content:center;
  height: 420px;
}
#pdiv {
  border: 7px solid black;
  padding:0;
  position: absolute;
  top:30px;left:750px;
  width:200px;height:200px;
  background-color: #eee;
  border-radius: 50%;
}
.face-wrapper {
   animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}
.seg {
  background-color: #eee;
  position: absolute;
  text-align:center;
  border-radius: 50%;
  line-height: 34px;
  width: 32px;
  height: 32px;
  color: #eee;
  font-size: 16px;
  font-weight: bold;
  cursor:pointer;
}
.cardinal {
  color: black;
}
.focus {
  background-color:var(--focus-color);
  color: #eee;
  z-index: 2;
}
.sel {
  background-color:var(--sel-color); !important;
  color: #eee;
  z-index: 2;
}
/* Clock Hands */
#sel_line {
  position:absolute;
  width:6px;
  margin-top:0px;
  background-color:var(--sel-color);
  z-index:0;
}
#foc_line {
  position:absolute;
  width:6px;
  margin-top:0px;
  background-color:var(--focus-color);
  z-index:0;
}
.pin {
  border: 1px solid black;
  width:14px;height:14px;
  margin:-14px 0 0 -14px;
  position:absolute;
  background-color:var(--sel-color);
  border-radius:50%;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}