.sched_table {
  th.day_hdr,
  th.mon_hdr {
    width: 135px;
    min-width: 135px;
  }
  .dat_hdr {
    width: 70px;
  }
  .tim_hdr {
    width: 85px;
    min-width: 85px;
    max-width: 85px;
  }
  .fla_hdr,
  .fla_td {
    width: 30px;
  }
  .the_hdr {
    width: auto;
    min-width: 120px;
    max-width: 120px;
  }
  .bri_hdr {
    width: auto;
    min-width: 105px;
  }
}

.table-header-rotated th.rotate-45 {
  height: 85px;
  width: 30px;
  min-width: 30px;
  max-width: 30px;
  position: static;
  vertical-align: bottom;
  padding: 0;
  font-size: 1em;
  line-height: 0.8;
}

.row-header {
  box-shadow: 0 0 0 1px var(--def-col-border);
  vertical-align: bottom;
}

.table-header-rotated th.rotate-45 > div {
  background-color: var(--def-col-bg);
  position: relative;
  top: -1px;
  left: -31px;
  height: 84px;
  width: 28px;
  box-shadow: inset 2px 0px 0 var(--def-col-border);
  -ms-transform: skew(35deg, 0deg);
  -moz-transform: skew(35deg, 0deg);
  -webkit-transform: skew(35deg, 0deg);
  -o-transform: skew(35deg, 0deg);
  transform: skew(35deg, 0deg);
  overflow: hidden;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform: skew(-40deg, 0deg) rotate(50deg);
  -moz-transform: skew(-40deg, 0deg) rotate(50deg);
  -webkit-transform: skew(-40deg, 0deg) rotate(50deg);
  -o-transform: skew(-40deg, 0deg) rotate(50deg);
  transform: skew(-40deg, 0deg) rotate(50deg);
  position: absolute;
  bottom: 32px;
  /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -28px;
  /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  width: 85px;
  /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  /*text-align: right;*/
  white-space: nowrap;
  /*whether to display in one line or not*/
}

.table-striped-column > thead > tr th:nth-of-type(even) div {
  background-color: #eee;
}

.table-striped-column > tbody > tr td:nth-of-type(even) {
  background-color: #eee;
}

.table-striped-row > tbody > tr:nth-of-type(even) {
  background-color: #a91616b8;
}

/*******************************************************************************************************/
/* Dropdown menu css */
.dropdown-container {
  position: relative;
  max-width: 240px;

  .dropdown-toggle {
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: var(--def-col-bg);
    color: var(--def-col-fg);
    font-size: 15px;
    padding-left: 4px;
    border-radius: 4px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 0.3s;

    label {
      cursor: pointer;
      width: 100%;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: #0979ce;
      color: #ffffff;
    }
  }

  .dropdown-menu {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 4px -2px rgba(0, 0, 0, 0.5);
    border: 0;
    margin-top: 12px;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: var(--men-bg-col);
    z-index: 10;

    ul {
      box-shadow: 0 0 2px 1px var(--dd-col-lu-bo);
      padding: 6px 2px 6px 12px;
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      border-radius: 10px;
      z-index: 10;
    }

    li {
      background-color: var(--dd-col-li-bg);
      color: var(--dd-col-li-fg);
      padding: 4px 2px 4px 14px;
    }

    li:hover {
      background-color: var(--dd-col-bg-hl);
      color: var(--dd-col-fg-hl);
    }
  }
}

.dropdown-menu,
.dropdown-toggle {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    border: 5px solid;
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    margin-top: -2.5px;
    background-color: rgba(0, 0, 0, 0);
    transition: all ease-in-out 0.2s;
  }
}

.dropdown-menu {
  z-index: 10;
  position: relative;

  &::before {
    z-index: -1;
    transform: rotate(-135deg);
    top: -3px;
    border-color: var(--men-bg-col);
    border-top-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    box-shadow: 1px 1px 4px -2px rgba(0, 0, 0, 0.4);
  }
}

.dropdown-open {
  .dropdown-menu.dropdown-active {
    display: block;
  }
}

.dropdown-container.dropdown-open {
  .dropdown-toggle {
    background-color: var(--men-bg-col);
    color: #ffffff;

    &:before {
      transform: rotate(-135deg);
    }
  }
}
