:root {
  --focus-color: #909090b0;
  --sel-color: #904040ff;
}

/******* No spin buttons *******/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/******* No selection *******/
.no-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

/******* Time Selection *******/
.timesel {
  text-decoration: none;
  line-height: 20px;
  font-size: 17px;
  color: #fff;
  outline: none;
  /*border: 1px solid white;*/
  border: 0px;
  display: grid;
  grid-template: 'hours divider minutes';
  grid-gap: 0px;
  width: 40px;
  height: 24px; /* needs to be 1px higher than input.time */
}

input.time {
  background-color: transparent;
  line-height:23px;
  height:22px;
  width: 30px;
  font-size: 17px;
  outline: none;
  border: 0;
  color: #fff;
}

input.time:focus,
input.time:active {
  background-color: #207070;
}

.sel_hours {
  padding-right: 5px;
  text-align: right;
}

.sel_mins {
  padding-left: 5px;
  text-align: left;
}

.divider {
  line-height: 21px;
  font-weight: bold;
}